
<div class="container">
    <div class="d-flex align-items-center">
        <div class="td-home-hero">
          <div class="td-hero-content">
            <div class="stock-item">
              <div class="d-flex justify-content-center">
                <%= image_tag(@drink.photo, class: "w-100", alt: "#{@drink.title}") %>
              </div>
              <h2><%= @drink.title %></h2>
              <div class="$text-secondary" >
                <p><%= @drink.category %></p>
                <p><%= @drink.region %></p>
                <p><%= @drink.year %></p>
              </div>


            </div>
          </div>
        </div>
      </div>

  <div class="d-flex align-items-center">
    <%= link_to "Retourner à votre cave", stocks_path, class: "btn btn-gold" %>
  </div>
</div>
