<div class="container">
    <div class="td-home-header">
      <p class="td-home-name">Ma Cave</p>
    </div>
    <% @stocks.each do |stock| %>
      <div class="d-flex align-items-center">
        <div class="td-home-hero">
          <div class="td-hero-content">
            <div class="stock-item">
              <span><%= link_to "#{stock.drink.title}", drink_path(stock.drink) %></span>
              <div class="counter">
                <%= button_to "-", stock_path(stock, stock: { quantity: stock.quantity - 1 }),
                    method: :patch,
                    class: "btn btn-secondary rounded-circle mt-3" %>
              </div>

                <span class="quantity"><%= stock.quantity %></span>

              <div class="counter">
                <%= button_to "+", stock_path(stock, stock: { quantity: stock.quantity + 1 }),
                    method: :patch,
                    class: "btn btn-secondary rounded-circle" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <%= link_to "Add a new stock", new_stock_path, class: "btn btn-gold " %>
</div>
