<div class="td-home-section">
  <h3><i class="td-home-name"></i>Mes recommandations</h3>
 <% if @my_cellar.any? %>
    <h4>🏠 Dans ma cave</h4>
    <div class="cards">
      <% @my_cellar.each do |meal_drink| %>
        <div class="td-wine-card w-100">
          <div class="td-wine-card-image">
            <div class="td-wine-placeholder">
              <%= image_tag(meal_drink.drink.photo, class: "stock-image-container", alt: "#{meal_drink.drink.title}") %>
            </div>
          </div>
          <div class="td-wine-card-content">
            <span class="stock-title"><%= meal_drink.drink.title %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <% if @wines.any? %>
    <h4>🍷 Vins</h4>
    <div class="cards">
      <% @wines.each do |meal_drink| %>
        <div class="td-wine-card w-100">
          <div class="td-wine-card-image">
            <div class="td-wine-placeholder">
              <%= image_tag(meal_drink.drink.photo, class: "stock-image-container", alt: "#{meal_drink.drink.title}") %>
            </div>
          </div>
          <div class="td-wine-card-content">
            <span class="stock-title"><%= meal_drink.drink.title %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>


  <% if @alcohol.any? %>
    <h4>🍸 Boissons alcoolisées</h4>
    <div class="cards">
      <% @alcohol.each do |meal_drink| %>
        <div class="td-wine-card w-100">
          <div class="td-wine-card-image">
            <div class="td-wine-placeholder">
              <%= image_tag(meal_drink.drink.photo, class: "stock-image-container", alt: "#{meal_drink.drink.title}") %>
            </div>
          </div>
          <div class="td-wine-card-content">
            <span class="stock-title"><%= meal_drink.drink.title %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @no_alcohol.any? %>
    <h4>🥤 Boissons sans alcool</h4>
    <div class="cards">
      <% @no_alcohol.each do |meal_drink| %>
        <div class="td-wine-card w-100">
          <div class="td-wine-card-image">
            <div class="td-wine-placeholder">
              <%= image_tag(meal_drink.drink.photo, class: "stock-image-container", alt: "#{meal_drink.drink.title}") %>
            </div>
          </div>
          <div class="td-wine-card-content">
            <span class="stock-title"><%= meal_drink.drink.title %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @improbable.any? %>
    <h4>🎲 Suggestions improbables</h4>
    <div class="cards">
      <% @improbable.each do |meal_drink| %>
        <div class="td-wine-card w-100">
          <div class="td-wine-card-image">
            <div class="td-wine-placeholder">
              <%= image_tag(meal_drink.drink.photo, class: "stock-image-container", alt: "#{meal_drink.drink.title}") %>
            </div>
          </div>
          <div class="td-wine-card-content">
            <span class="stock-title"><%= meal_drink.drink.title %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
